{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>select Book To Modify</h3>
    <form action="/update" method="post">
        <select name="book_name">
            {% for book in books %}
            <option value="{{ book['name'] }}">{{ book['name'] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select</button>
    </form>
</body>
</html>
{% endblock %}